body{
    background-color: antiquewhite;
}
header nav{
    width: 70%;
    background-color: cadetblue;
    margin: 0 auto;
}
header nav ul{
    border: 5px solid black ;
    
}
header nav ul li {
    display: inline;
    font-size: 2rem;
}
header nav ul li a{
    padding: 15px 30px;
    text-decoration: none;
    color:black;
}
article{
    background-color: burlywood;
}
article h1,h2{
    font-size: 2.5rem;
}
article p{
    font-size: 1.5rem;
    
}
footer{
    width: 90%;
    height: 100px;
    background-color: cadetblue;
    margin:0 auto
}
footer p {
    text-align: center;
    padding-top: 40px;
    font-size: large;
}